Body{
    font-family: verdana;
}
nav{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 12vh;
}
nav > a {
    border: solid 3px black;
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    color: white;
}
.home{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.Jack{
    width: 75vh;
    height: 75vh;
    border: solid black 25px;
    border-style: double;
    border-radius: 50%;

}
.homeHead{
    text-align: end;
}
h1{
   font-size: 72px; 
}